<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> vicky</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        <p><i class="fa fa-map-pin"></i> bh-3 LPU 144411, INDIA</p>
        <p><i class="fa fa-phone"></i> Phone (India) : +91 7888552432</p>
        <p><i class="fa fa-envelope"></i> E-mail : singh_vicky83@yahoo.com</p>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="float-right">
          <a href="#"><p style="color: white; font-size: 15px;">Facebook crack the movie advertisment code:what it means for you: <span>August 3,2015</span></p>
          </a>
          <a href="#"><p style="color: white; font-size: 15px;">Tencent sees video games, more ads in Snapchat's future: <span>nov 3,2015</span></p></a>
          <a href="#"><p style="color: white; font-size: 15px;">Google supports US efforts to disclose buyers of online political ads: <span>November 10,2015</span></p></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        </div>
      </div>
    </div>
  </div>
</footer>