<nav class="navbar navbar-inverse navbar-fixed navbar-fixed-top navbar-default">
  		<div class="container">
      	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vicky" aria-expanded="false">
          		<span class="sr-only">Toggle navigation</span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
       		</button>
        	<a class="navbar-brand" href="#">Brand</a>
      	</div>

     	<div class="collapse navbar-collapse" id="vicky">
        <ul class="nav navbar-nav">
           <li ><a href="index.html">HOME</a></li>
        </ul>
        <div class="col-lg-8 col-sm-4">
        	<form class="navbar-form" role="search">
            <div class="input-group" style=" width: 100%;">
            	<input type="text" class="form-control" placeholder="Search Tv-Series, Movies" name="q">
                <div class="input-group-btn">
                   <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        	</form>
        </div>
        <ul class="nav navbar-nav navbar-right ">
            <li><a href="signup.html">Signup <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
            <li><a href="signin.html">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            
        </ul>
      	</div>
      	<div class="container">
      	<div class="row" style="text-align: center; padding-bottom:10px; padding-top: 10px">
      		<div class="col-lg-4 col-sm-4"><a href="#" style="text-decoration: none; color: grey">MOVIES</a></div>
      		<div class="col-lg-4 col-sm-4"><a href="#" style="text-decoration: none; color: grey;">TV-SERIES</a></div>
      		<div class="col-lg-4 col-sm-4"><a href="#" style="text-decoration: none; color: grey;">TOP-RATED</a></div>
      	</div>
    	</div>
  </nav>
